<div id="team" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Meet the Team</h2>
      <p>Small team of experts in their fields</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="../assets/aragorn.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Sarah Walsh</h4>
            <p>Senior Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/../assets/images/sara.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Sara Mass Hill</h4>
            <p>Team Leader</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/../assets/gimli.jpeg" alt="..." class="team-img">
          <div class="caption">
            <h4>Fern Fern</h4>
            <p>Banking Expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
