<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--
<nav id="menu" class="navbar navbar-default fixed-top">
  <div class = "container">
    <div class = "navbar-header">
      <a pageScroll class="navbar-brand page-scroll"  href="#page-top">CFMV</a>
    </div>
    <button id="burger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxShow="true" fxHide.lt-md>

      <ul class = "nav nav-pills navbar-right">
        <li>
          <a pageScroll href="#meetTheTeam" class="btn-top-page animation" mat-button >Team</a>
        </li>


        <li>
          <a pageScroll href="#home" class="btn-top-page animation " [matMenuTriggerFor]="FAQ" mat-button >CrossFit FAQ</a>
        </li>

        <mat-menu #FAQ="matMenu">
          <li>
            <a pageScroll href="#home" class="btn-top-page animation" mat-menu-item >>What is CrossFit</a>
          </li>
          <li>
            <a pageScroll href="#home" class="btn-top-page animation" [matMenuTriggerFor]="nutrition" mat-menu-item >Nutrition</a>
          </li>
          <li>
            <a pageScroll href="#home" class="btn-top-page animation"  mat-menu-item >Competition</a>
          </li>

        </mat-menu>


        <mat-menu #nutrition="matMenu">
          <li>
            <a pageScroll href="#home" class="btn-top-page animation"  mat-menu-item >Nutrition challange</a>
          </li>

        </mat-menu>

        <li>
          <a pageScroll href="#home" class="btn-top-page animation" mat-button >Getting Started</a>
        </li>
        <li>
          <a pageScroll href="#home" class="btn-top-page animation" mat-button >Schedules & Rates</a>
        </li>
        <li>
          <a pageScroll href="#" class="btn-top-page animation" mat-button routerLink="/wod" (click)="linkToOtherComponent()">KidFit</a>
        </li>
        <li>
          <a pageScroll href="#" class="btn-top-page animation" mat-button routerLink="/contact" (click)="linkToOtherComponent()">Contact</a>
        </li>



      </ul>
    </div>
  </div>
</nav>
 -->

<nav   class="navbar navbar-default fixed-top">
  <div class="container" >

    <div class = "navbar-header">
      <a pageScroll class="navbar-brand page-scroll"  href="#page-top">CFMV</a>
    </div>
    <button id="burger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="topnav" id ="myTopnav" fxShow="true" fxHide.lt-md>

        <ul  class = "nav nav-pills navbar-right">
          <li>
          <a  href="#meetTheTeam" class="btn-top-page animation">Team</a>
          </li>
          <li><a href="" routerLink="/contact" (click)="linkToOtherComponent()">Contact</a>
            <!--
            <ul>
              <li> <a href="#project" routerLink="/contact"> Contact</a> </li>
            </ul>
           -->
          </li>

         <!-- <li><a href="#team" routerLink="/team">TEAM</a>

            <ul>
              <li> <a href="http://www.google.com">Team Edg</a></li>

              <li> <a href="#team" routerLink="/teamwt">Team WT</a></li>
            </ul>

          </li>
         -->
          <li><a href="#project" routerLink="/project">CrossFit FAQ</a>
            <ul>
              <li> <a href="#project" routerLink="/project1"> What is CrossFit</a> </li>
              <li> <a href="#project" routerLink="/project2"> Nutrition</a> </li>
              <li> <a href="#project" routerLink="/project3"> Competition</a> </li>
            </ul>
          </li>
          <li><a href="#register" routerLink="/wod" (click)="linkToOtherComponent()">WOD</a></li>
          <li><a href="#register" routerLink="/rates" (click)="linkToOtherComponent()">Schedules & Rates </a></li>

        </ul>

    </div >
  </div>
</nav>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="" mat-list-item > </a>

      <a class="btn-side-menu"  href="#meetTheTeam" mat-list-item>Team</a>
      <a class="btn-side-menu" [matMenuTriggerFor]="FAQ" routerLink="//what-is-crossfit"mat-list-item>What is CrossFit</a>
      <mat-menu #FAQ="matMenu">
        <a class="btn-side-menu" mat-menu-item routerLink="/crossfit-faq">CrossFit FAQ</a>
        <a class="btn-side-menu" mat-menu-item [matMenuTriggerFor]="nutrition" routerLink="/nutrition">Nutrition</a>
        <a class="btn-side-menu" mat-menu-item routerLink="/competition">Competition</a>
      </mat-menu>

      <mat-menu #nutrition="matMenu">
        <a class="btn-side-menu" mat-menu-item routerLink="/nutrition-challange">Nutrition challange</a>
      </mat-menu>

      <a class="btn-side-menu" routerLink="/getting-started"mat-list-item>Getting Started</a>
      <a class="btn-side-menu" routerLink="/rates"mat-list-item>Schedules & Rates</a>
      <a class="btn-side-menu" routerLink="/kidfit"mat-list-item>Kid Fit</a>
      <a class="btn-side-menu" href="#contact"mat-list-item>Contact</a>



    </mat-nav-list>
  </mat-sidenav>


<div id="main-content" *ngIf="mainContent;else other_component"  >
  <div id="page-top">
  </div>
  <div id="home">
    <app-home>
    </app-home>
  </div>
  <!--
  <div id="our-coaches">
    <app-our-coaches>
    </app-our-coaches>
  </div>
  -->
  <div id="rates">
    <app-rates>
    </app-rates>
  </div>

  <div id="meetTheTeam">
  <app-meet-the-team>
  </app-meet-the-team>
  </div>
</div>


<ng-template #other_component>
 <router-outlet>
 </router-outlet>
</ng-template>

</mat-sidenav-container>
