<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--
<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>CrossFit</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>

        <button class="btn-top-menu" mat-button routerLink="/home">Home</button>


        <button class="btn-top-menu" mat-button routerLink="/our-coaches">Our Coaches!</button>

        <button class="btn-top-menu" mat-button  [matMenuTriggerFor]="FAQ"  routerLink="/what-is-crossfit">What is CrossFit</button>

        <mat-menu #FAQ="matMenu">
          <button class="btn-top-menu"mat-menu-item routerLink="/crossfit-faq">CrossFit FAQ</button>
          <button class="btn-top-menu" mat-menu-item [matMenuTriggerFor]="nutrition" routerLink="/nutrition">Nutrition</button>
          <button class="btn-top-menu" mat-menu-item routerLink="/competition">Competition</button>

        </mat-menu>

        <mat-menu #nutrition="matMenu">
          <button class="btn-top-menu" mat-menu-item routerLink="/nutrition-challange">Nutrition challange</button>
        </mat-menu>

        <button class="btn-top-menu" mat-button routerLink="/getting-started">Getting Started</button>


        <button class="btn-top-menu" mat-button routerLink="/rates">Schedules & Rates</button>

        <button class="btn-top-menu" mat-button routerLink="/kidfit">KidFit</button>

        <button class="btn-top-menu" mat-button routerLink="/contact">Contact</button>


      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="" mat-list-item > </a>

        <button class="btn-side-menu"  routerLink="/home"mat-list-item>Home</button>

        <button class="btn-side-menu" routerLink="/our-coaches"mat-list-item>Our Coaches!</button>
        <button class="btn-side-menu" [matMenuTriggerFor]="FAQ" routerLink="//what-is-crossfit"mat-list-item>What is CrossFit</button>
        <mat-menu #FAQ="matMenu">
          <button class="btn-side-menu" mat-menu-item routerLink="/crossfit-faq">CrossFit FAQ</button>
          <button class="btn-side-menu" mat-menu-item [matMenuTriggerFor]="nutrition" routerLink="/nutrition">Nutrition</button>
          <button class="btn-side-menu" mat-menu-item routerLink="/competition">Competition</button>
        </mat-menu>

        <mat-menu #nutrition="matMenu">
          <button class="btn-side-menu" mat-menu-item routerLink="/nutrition-challange">Nutrition challange</button>
        </mat-menu>

        <button class="btn-side-menu" routerLink="/getting-started"mat-list-item>Getting Started</button>
        <button class="btn-side-menu" routerLink="/rates"mat-list-item>Schedules & Rates</button>
        <button class="btn-side-menu" routerLink="/kidfit"mat-list-item>Kid Fit</button>
        <button class="btn-side-menu" routerLink="/contact"mat-list-item>Contact</button>



      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      Main content

    <app-home>
    </app-home>
      <app-rates>
      </app-rates>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
-->

<nav id="menu" class="navbar navbar-default fixed-top">
  <div class = "container">
    <div class = "navbar-header">
      <a pageScroll class="navbar-brand page-scroll"  href="#page-top">CFMV</a>
    </div>
    <button id="burger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxShow="true" fxHide.lt-md>

      <ul class = "nav nav-pills navbar-right">
        <li>
          <a pageScroll href="#meetTheTeam" class="btn-top-page animation" mat-button >Team</a>
        </li>


        <li>
          <a pageScroll href="#home" class="btn-top-page animation " [matMenuTriggerFor]="FAQ" mat-button >CrossFit FAQ</a>
        </li>

        <mat-menu #FAQ="matMenu">
          <li>
            <a pageScroll href="#home" class="btn-top-page animation" mat-menu-item >>What is CrossFit</a>
          </li>
          <li>
            <a pageScroll href="#home" class="btn-top-page animation" [matMenuTriggerFor]="nutrition" mat-menu-item >Nutrition</a>
          </li>
          <li>
            <a pageScroll href="#home" class="btn-top-page animation"  mat-menu-item >Competition</a>
          </li>

        </mat-menu>


        <mat-menu #nutrition="matMenu">
          <li>
            <a pageScroll href="#home" class="btn-top-page animation"  mat-menu-item >Nutrition challange</a>
          </li>

        </mat-menu>

        <li>
          <a pageScroll href="#home" class="btn-top-page animation" mat-button >Getting Started</a>
        </li>
        <li>
          <a pageScroll href="#home" class="btn-top-page animation" mat-button >Schedules & Rates</a>
        </li>
        <li>
          <a pageScroll href="#" class="btn-top-page animation" mat-button routerLink="/kidfit" (click)="linkToOtherComponent()">KidFit</a>
        </li>
        <li>
          <a pageScroll href="#" class="btn-top-page animation" mat-button routerLink="/contact" (click)="linkToOtherComponent()">Contact</a>
        </li>



      </ul>
    </div>
  </div>
</nav>


<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="" mat-list-item > </a>

      <a class="btn-side-menu"  href="#meetTheTeam" mat-list-item>Team</a>
      <a class="btn-side-menu" [matMenuTriggerFor]="FAQ" routerLink="//what-is-crossfit"mat-list-item>What is CrossFit</a>
      <mat-menu #FAQ="matMenu">
        <a class="btn-side-menu" mat-menu-item routerLink="/crossfit-faq">CrossFit FAQ</a>
        <a class="btn-side-menu" mat-menu-item [matMenuTriggerFor]="nutrition" routerLink="/nutrition">Nutrition</a>
        <a class="btn-side-menu" mat-menu-item routerLink="/competition">Competition</a>
      </mat-menu>

      <mat-menu #nutrition="matMenu">
        <a class="btn-side-menu" mat-menu-item routerLink="/nutrition-challange">Nutrition challange</a>
      </mat-menu>

      <a class="btn-side-menu" routerLink="/getting-started"mat-list-item>Getting Started</a>
      <a class="btn-side-menu" routerLink="/rates"mat-list-item>Schedules & Rates</a>
      <a class="btn-side-menu" routerLink="/kidfit"mat-list-item>Kid Fit</a>
      <a class="btn-side-menu" href="#contact"mat-list-item>Contact</a>



    </mat-nav-list>
  </mat-sidenav>


<div id="main-content" *ngIf="mainContent;else other_component"  >
  <div id="page-top">
  </div>
  <div id="home">
    <app-home>
    </app-home>
  </div>
  <!--
  <div id="our-coaches">
    <app-our-coaches>
    </app-our-coaches>
  </div>
  -->
  <div id="rates">
    <app-rates>
    </app-rates>
  </div>

  <div id="meetTheTeam">
  <app-meet-the-team>
  </app-meet-the-team>
  </div>
</div>


<ng-template #other_component>
 <router-outlet>
 </router-outlet>
</ng-template>

</mat-sidenav-container>
