<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <blockquote>
             <div class="text">Typically the world’s best athletes are minimalists when it comes to their training.<br>
               They work hard and fast with few exercises.<br>
              They master the fundamentals and work with them for years.<br>
              This is the secret that no one wants to hear.<br>
              <span>Greg Glassman, founder of Crossfit.</span>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
