.wod-container {
  margin-top: 100px;

}
.infobox{
  border-style: solid;
  border-width: thin;
  border-color: cyan;
  border-radius: 5%;
  text-align: center;
  width: 20%;
  margin: auto;
}
.buttonposition{
  margin: auto;
  text-align: center;
}
.btn{
  width: 10em;
  height: 8em;
  margin: 1rem 1rem 1rem 1rem;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  margin: auto;
  width: 180px;

}

.gallery:hover {
  border: 1px solid #777;
  transform: scale(2.5);
}

.gallery img {
  width: 100%;
  height: auto;
}

