.wod-container {
  margin-top: 100px;

}
.infobox{
  border-style: solid;
  border-width: thin;
  border-color: cyan;
  border-radius: 5%;
  text-align: center;
  width: 20%;
  margin: auto;
}
.buttonposition{
  margin: auto;
  text-align: center;
}
.btn{
  width: 10em;
  height: 8em;
  margin: 1rem 1rem 1rem 1rem;
}
