<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class = "wod-container">
<div class = " titlebox" >
  <h3> WOD  </h3>
</div>
  <br/>
  <div class = "infobox" >
  <h4>Day: {{wodTemp.day}}</h4>
  <h4>Date: {{wodTemp.date}}</h4>
  <h4>Index: {{wodTemp.index}}</h4>
  <h4>Text: {{wodTemp.text}}</h4>
  </div>
</div>
<br/>
<br/>

<div class = "buttonposition">
  <button type="button" (click) ="yydayDateBtn(getYydayDate())" class="btn btn-outline-primary">{{getYydayDate()}}</button>
  <button type="button" (click) ="ydayDateBtn(getYdayDate())" class="btn btn-outline-primary">{{getYdayDate()}}</button>
  <button type="button" (click) = "todayDateBtn(getDate())"class="btn btn-outline-primary">{{getDate()}}</button>
</div>

