<div id="services" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Rates & Schedule </h2>
      <p>We offer a great variety of payment options for you to choose.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-paypal"></i>
        <div class="service-desc">
          <h3>PayPal</h3>
          <p>Integrated PayPal Api allows your customers to pay either with their their PayPal accound or
            Credit Card through PayPal.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-bitcoin"></i>
        <div class="service-desc">
          <h3>Bitcoin</h3>
          <p>Integrated Coingate Api allows your customers to pay through their cryptocurrency wallet.</p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-credit-card"></i>
        <div class="service-desc">
          <h3>Credit card</h3>
          <p>Standard Credit Card payment. Your customers will be redirected to the bank webisite.</p>
        </div>
      </div>
    </div>
  </div>
</div>
